# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env

# Dataset - do not upload full dataset
dataset/color/
dataset/split/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Temporary files
*.tmp
*.log
